* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f0f2f5;
  margin: 0;
}

.login, .register {
  width: 400px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  border-radius:10px;
}

.login h1, .register h1 {
  text-align: center;
  color: #000;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.login .links a, .register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
  color: #9da3ac;
}

.login .links a.active, .register .links a.active {
  border-bottom: 3px solid #3274d6;
  color: #3274d6;
}

.login form, .register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.login form label, .register form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  /* background-color: #3274d6; */
  /* color: #ffffff; */
  
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
  align-items: center;
  background: #004df5;
  border: 0;
  border-radius: 10px;
  color: #fff;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: 18px;
  font-weight: 700;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 40px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
  width: auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  cursor:pointer;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: #2868c7;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navtop {
  background-color: #004df5;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.navtop div h1, .navtop div a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navtop div h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #eaebed;
}

body.loggedin {
  background-color: #f3f4f7;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #000;
}

.content > p, .content > div {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content > p table td, .content > div table td {
  padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}

main .content-header .search label {
  position: relative;
}

main .content-header .search input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px 0;
  width: 250px;
  border-bottom: 1px solid #d0d3d5;
  padding-right: 25px;
}

main .content-header .search input:hover, main .content-header .search input:active {
  border-bottom: 1px solid #b5b9bd;
}

main .content-header .search i {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 0;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  color: #b5b9bd;
}

/*# sourceMappingURL=style.css.map */

.centeralogo {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}