{% extends 'layout.html' %}

{% block title %}Test-Correct / Admin Home{% endblock %}

{% block content %}

<h2>Dashboard-> admin</h2>

<div>
    <a href='/admin_home' class='btn btn-primary'>Dashboard</a>
    <a href='/admin_home/accounts' class='btn btn-primary'>Manage Accounts</a>
</div>

<body>

    <!-- Content Row -->
    <div class="row">

        <!-- Total accounts -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total accounts</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{result}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Total vragen -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total auteurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{auteurs}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total leerdoelen
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{leerdoelen}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total vragen</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{vragen}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}