{% extends 'layout.html' %}

{% block title %}Edit value{% endblock %}

{% block content %}

<p>Edit value in column <b>{{ column }}</b> in <b>{{ table }}</b> with ID <b>{{ id }}</b></p>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-7 p-5 rounded border">
      <h3 class="text-center">Bewerk waarde</h3>
      <hr>
      <div class="form-group mb-3">
        <form method="post">
          <div class="form-group">
            <!-- <label for="new_value">New value</label> -->
            <input type="text" class="form-control" id="new_value" name="new_value" value="{{ current_value }}"
              required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-primary" href="/filtering/{{ table }}/{{ column }}" role="button">Return to
            table</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}