{% extends 'layout.html' %}

{% block title %}Bewerk auteurs{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-7 p-5 rounded border">
            <h3 class="text-center">Bewerk auteurs</h3>
            <div class="form-group mb-3">
                <form method='post' action='{{url_for("edit_auteurs",id=datas.id)}}'>
                    <div class='form-group'>
                        <label class="font-weight-bold">voornaam</label>
                        <input type='text' name='voornaam' required class='form-control' value='{{datas.voornaam}}'>
                    </div>
                    <div class='form-group'>
                        <label class="font-weight-bold">achternaam</label>
                        <input type='text' name='achternaam' required class='form-control' value='{{datas.achternaam}}'>
                    </div>
                    <div class='form-group'>
                        <label class="font-weight-bold">geboortejaar</label>
                        <input type='number' min="1960" max="2022" name='geboortejaar' required class='form-control'
                            value='{{datas.geboortejaar}}'>
                    </div>
                    <div class='form-group'>
                        <label class="font-weight-bold">medewerker</label>
                        <input type='text' name='medewerker' required class='form-control' value='{{datas.medewerker}}'>
                    </div>
                    <div class='form-group'>
                        <label class="font-weight-bold">met_pensioen</label>
                        <input type='text' name='met_pensioen' required class='form-control'
                            value='{{datas.met_pensioen}}'>
                    </div>
                    <input type='submit' value='Save' class='btn btn-primary'>
                    <a class="btn btn-primary" href="/home/auteurs" role="button">Return</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}