<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login In and Registration Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="hero">
        <div class="form-box">
                <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn">Log In</button>
            </div>
            <form class="input-group">
                <input type="text" class="input-field" placeholder="Gebruikersnaam" required>
                <input type="text" class="input-field" placeholder="Wachtwoord" required>
                <input type="checkbox" class="chech-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn">Login In</button>
            </form>
    </div>

</body>
</html>