<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/static/icon.png" />

	<!-- Datatable CSS -->
	<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

	<!-- jQuery Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>

	<!-- Datatable JS -->
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script> -->

</head>

<body class="loggedin">
	<nav class="navtop">
		<div>
			<a href="#" class="navbar-brand">
				<img src="/static/testcorrect-logo.svg" height="50" alt="testcorrect">
			</a>
			<h1></h1>
			<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
			<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>{{ session['username'] }}</a>
			<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
	</nav>

	<!-- content block -->
	<div class="content">
		{% block content %}{% endblock %}
	</div>

	<!-- alert message -->
	<div class='container pt-3'>
		{% with messages=get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category,message in messages %}
		<div class='alert alert-{{category}}'>{{message}}</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		{% block body %}

		{% endblock %}
	</div>

	<script>

		// delete
		const btnDelete = document.querySelectorAll('.fa-trash');
		if (btnDelete) {
			const btnArray = Array.from(btnDelete);
			btnArray.forEach((btn) => {
				btn.addEventListener('click', (e) => {
					if (!confirm('Are you sure?')) {
						e.preventDefault();
					}
				});
			})
		}

		// pagination
		$(document).ready(function () {
			$('#example').DataTable({
				"aLengthMenu": [[10, 15, 25, 30, -1], [10, 15, 25, 30, "All"]],
				"iDisplayLength": 10
			}
			);
		});

		// hide alert
		$(document).ready(function () {
			setTimeout(function () {
				$('.alert').fadeOut('slow');
			}, 2000);
		});

	</script>

</body>

</html>