{% extends 'layout.html' %}

{% block title %}Test-Correct / leerdoelen{% endblock %}

{% block content %}

<h2>Dashboard-> leerdoelen</h2>

<div>
    <!-- <a href='/home' class='btn btn-primary'>Accounts</a> -->
    <a href='/home' class='btn btn-primary'>Auteurs</a>
    <a href='/home/vragen' class='btn btn-primary'>Vragen</a>
    <a href='/home/leerdoelen' class='btn btn-primary'>Leerdoelen</a>
    <a href='/filtering' class='btn btn-primary'>Onderzoek</a>
</div>

<!-- {% endblock %} -->
{% block body %}
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>id</td>
                    <td>leerdoelen</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </thead>
            <tbody>
                {% for row in leerdoelen %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.leerdoel}}</td>
                    <td width="">
                        <a href="/edit_leerdoelen/{{row.id}}" class="fas fa-pen"></a>
                    </td>
                    <td>
                        <a href="/delete_leerdoelen/{{row.id}}" class="fas fa-trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
{% endblock %}