{% extends 'layout.html' %}

{% block title %}Test-Correct / onderzoek{% endblock %}

{% block content %}

<p>Onderzoek naar kolom <b>{{ column }}</b> in <b>{{ table }}</b></p>
<p>De volgende waardes en IDs zijn niet converteerbaar naar {{ datatype }}</p>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th>Waarde</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for unconverted in values %}
                <tr>
                    <th scope="row">{{ unconverted[0] }}</th>
                    <td>{{ unconverted[1] }}</td>
                    <td><a href="{{ url_for('edit_table_value', table_name=table, column_name=column, id=unconverted[0]) }}"
                            class="btn btn-primary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}