<html>

<body>
    <p>Onderzoek naar kolom {{ column }} in {{ table }}</p>
    <p>De volgende waardes en IDs zijn niet converteerbaar naar {{ datatype }}</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Waarde</th>
            </tr>
        </thead>
        <tbody>
            {% for unconverted in values %}
            <tr>
                <td>{{ unconverted[0] }}</td>
                <td>{{ unconverted[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
