{% extends 'layout.html' %}

{% block title %}Test-Correct / onderzoek{% endblock %}

{% block content %}

<body>
    <h2>Selecteer de kolom die u wilt onderzoeken in {{ table }}</h2>
    <ul>

    </ul>
</body>
<table class="table">
    <thead class="thead-light">
        <tr>
            {% for column_name in columns %}
            <th>
                <a href="/filtering/{{ table }}/{{ column_name }}">{{ column_name }}</a>
            </th>
            {% endfor %}
        </tr>
    </thead>
</table>

{% endblock %}