{% extends 'layout.html' %}

{% block title %}Test-Correct / vragen{% endblock %}

{% block content %}

<h2>Dashboard-> vragen</h2>

<!-- links -->
<div>
    <a href='/home' class='btn btn-primary'>Accounts</a>
    <a href='/home/auteurs' class='btn btn-primary'>Auteurs</a>
    <a href='/home/vragen' class='btn btn-primary'>Vragen</a>
    <a href='/home/leerdoelen' class='btn btn-primary'>Leerdoelen</a>
    <a href='/home/ongeldigleerdoel' class='btn btn-primary'>Ongeldige leerdoelen</a>
    <a href='/home/systeemcodes' class='btn btn-primary'>Systeemcodes</a>
    <a href='/filtering' class='btn btn-primary'>Onderzoek</a>
</div>

{% if questions_page %}
<div>
    <h3>Ongeldige vragen kunnen worden bewerkt (<i class="fas fa-edit"></i>) of gemarkeerd worden als uitzondering (<i
            class="fas fa-check-circle"></i>)</h3>
    <p>Vragen kunnen om de volgende redenen ongeldig zijn:</p>
    <ul>
        <li>Vraag heeft ongeldig leerdoel of null.</li>
        <li>Vraag heeft verkeerde auteur, of auteur bestaat niet.</li>
        <li>Vraag bevat HTML of systeemcodes zoals <code>&lt;br&gt; of nbsp</code></li>
    </ul>
</div>
{% endif %}

<!-- {% endblock %} -->

{% block body %}

<form method="get">
    <label for="filter">Filter results:</label>
    <select name="filter" onchange="this.form.submit()">
        <option value="all" {% if selected_option=='all' %}selected{% endif %}>All</option>
        <option value="NULL" {% if selected_option=='NULL' %}selected{% endif %}>NULL</option>
        <option value="br" {% if selected_option=='br' %}selected{% endif %}>Systeemcodes
        </option>
        <option value="invalid_leerdoel" {% if selected_option=='invalid_leerdoel' %}selected{% endif %}>
            Ongeldige
            leerdoelen</option>
    </select>
    <button type="submit" name="download" value="true" class="btn btn-success">Download CSV</button>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for field in row %}
                    <td>{{ field }}</td>
                    {% endfor %}
                    {% if questions_page %}
                    {% if invalid_questions_status[row[0]] %}

                    <td>

                        <a href='/home/edit_question/{{row[0]}}'><i class=" fas fa-edit"></i></a>
                        <a href='/home/set_question_as_exception/{{row[0]}}'><i class="fas fa-check-circle"></i></a>
                        <a href="https://test-correct.nl/?vraag={{row[0]}}" target="_blank"><i
                                class="fas fa-link"></i></a>
                    </td>
                    {% else %}
                    <td>
                        <a href="https://test-correct.nl/?vraag={{row[0]}}" target="_blank"><i
                                class="fas fa-link"></i></a>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!--<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>

        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
            </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for field in row %}
                    <td>{{ field }}</td>
                {% endfor %}
            <td>
            Button trigger modal 
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editVraagModal{{ row[0] }}">Wijzig
            </button>
            Modal 
            <div class="modal fade" id="editVraagModal{{ row[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Wijzig vraag</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="/home/vragen/opslaan/{{ row[0] }}">
                        <div class="modal-body">
                            Hier komt de editformulier, dit formulier gaat ik de vraag aanpassen op basis van de nieuwe values die ik meegeef in de formulier
                                <div class="form-group">
                                    <p>id:{{ row[0] }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Wijzig vraag</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="vraag" rows="3">{{ row[2] }}</textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Opslaan">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </td>
            {% endfor %}
            </tr>

        </tbody>
    </table>
    </div>
    </div>

-->